include ../includes/components.jade

doctype html
html(lang="en")
  include ../includes/head.jade
  body
    block header
      header.site-header
        h1 My Site
        nav 
          ul.nav-list
            each menu, name in locals.menu
                li(class=menu.class)
                  a(href=menu.href)= name
    main.single-column
      block main
    
    include ../includes/footer.jade
