.sticky-nav {
  position: fixed;
  z-index: 10;

  ul {
    display: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }

    @media (min-width: @screen-sm-min) {
      display: block;
    }

  }

  &.fixed-left {

    @media (min-width: @screen-sm-min) {
      height: 100vh;
      left: 0;
      top: 0;
    }
  }

  &.fixed-right {
    height: 100vh;
    right: 0;
    top: 0;
  }

  &.fixed-top {
    left: 0;
    top: 0;
    width: 100vw;
  }

  .nav-toggle {
    display: block;

    @media (min-width: @screen-sm-min) {
      display: none;
    }
  }
}
